@import url(https://fonts.googleapis.com/css?family=Proxima+Nova:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(line-icons.css);
body {
  color: #000000;
  background: #f2eee2;
  font-family: "Proxima Nova", sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 14px !important;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
  font-family: "Proxima Nova", sans-serif;
}

label {
  font-weight: 300;
}

ul li {
  list-style: none;
}

.smallColorgraph {
  height: 7px;
  border-top: 0;
  background: #38afaf;
  border-radius: 5px;
}

a, a:hover, a:focus {
  text-decoration: none;
  outline: none;
  outline: 0;
}

.step {
  list-style: none;
  margin: 1rem 0;
  width: 100%;
}

.step .step-item {
  -ms-flex: 1 1 0;
  flex: 1 1 0;
  margin-top: 0;
  min-height: 1rem;
  position: relative;
  text-align: center;
}

.step .step-item:not(:first-child)::before {
  background: #9c6;
  content: "";
  height: 2px;
  left: -50%;
  position: absolute;
  top: 5px;
  width: 100%;
}

.step .step-item a {
  color: #000;
  display: inline-block;
  padding: 20px 10px 0;
  text-decoration: none;
}

.step .step-item a::before {
  background: #9c6;
  border: 0.1rem solid #fff;
  border-radius: 50%;
  content: "";
  display: block;
  height: 2rem;
  left: 50%;
  position: absolute;
  top: -4px;
  transform: translateX(-50%);
  width: 2rem;
  z-index: 1;
}

.step .step-item.active a::before {
  background: #fff;
  border: 0.1rem solid #9c6;
}

.step .step-item.active~.step-item::before {
  background: #e7e9ed;
}

.step .step-item.active~.step-item a::before {
  background: #e7e9ed;
}

input:focus, textarea:focus {
  outline: none;
}

*:focus {
  outline: none;
}

::selection {
  background: #688a7e;
  color: #fff;
}

::-moz-selection {
  background: #688a7e;
  color: #fff;
}

.logo {
  height: 40px;
  margin-bottom: -25px;
  margin-top: 0px;
  margin-left: -10px;
}

.header {
  min-height: 30px;
  background-color: #fff;
  height: 50px;
  padding: 0 15px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1002;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.showFull {
  width: 250px;
  position: fixed;
  top: 7%;
  right: 2%;
  background-color: #fff;
  border-radius: 10px;
}

.sidenav a {
  position: fixed;
  margin-top: 5.8%;
  left: -150px;
  transition: 0.5s;
  padding: 15px;
  width: 200px;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  border-radius: 0 5px 5px 0;
  background-color: #F9E79F;
}

.sidenav a:hover {
  left: 0;
}

.nugget {
  top: 20px;
}

.training {
  top: 140px;
}

.batch {
  top: 200px;
}

.dashboard {
  top: 80px;
}

.download {
  top: 260px;
}

.menuActiveSidebar {
  background-color: #F1C40F !important;
  color: #000;
}

.rightFloat {
  float: right;
  float: right;
  margin-top: 4px;
  color: #000;
  font-size: 24px;
}

.rightFloatIcon {
  float: right;
  float: right;
  color: #000;
  font-size: 24px;
}

/* .left {
  width: 50px;
  left: 1%;
  top: 8%;
  background: #f5ce28;
  white-space: nowrap;
  transition: width 0.6s;
  position: fixed;
  z-index: 9999;
}

.left ul {
  padding: 0;
  list-style-type: none;
  text-align: left;
  margin-bottom: 0px;
}

.left li {
  width: auto;
  height: 65px;
  line-height: 60px;
  padding-left: 12px;
}

.left li.active {
  background: #f81b84;
}

.left li:hover {
  background: #f81b84;
}

.left:hover {
  width: 250px;
}

.left .item-menu {
  height: 50px;
  overflow: hidden;
  color: #000;
}

.left a {
  color: white;
  text-decoration: none;
  font-weight: bold;
} */

span.menu {
  padding-left: 17px;
}

.t_search {
  color: black;
  height: 35px;
  margin-left: 15px;
  width: 190px;
}

.correctHeader {
  display: list-item;
}

.wrapper {
  display: inline-block;
  margin-top: 6%;
  padding: 15px;
  width: 80%;
  ;
  margin-left: 10%;
  scroll-behavior: smooth;
}

.actionButton {
  background-color: #f3c851e0;
  border-color: #f3c851e0;
  color: #000;
}

.transparentTextBox {
  background: transparent;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid #ababab;
}

.modal-dialog {
  margin-top: 20%;
  left: 0% !important;
}

.timelinecontentGap {
  margin-top: 10px;
}

.modal-content {
  border-radius: 0px;
  background: rgba(255, 255, 255, 0.9);
  width: 750px;
  margin-left: -90px;
  margin-top: -30px;
}

.modal-header .close {
  font-weight: 600;
  font-size: 30px;
}

.cardBlue {
  background-color: #d6eaf8;
  border-radius: 8px;
}

.cardGreen {
  background-color: #d5f5e3;
  border-radius: 8px;
}

.cardOrange {
  background-color: #f6ddcc;
  border-radius: 8px;
}

.cardRed {
  background-color: #cd6155;
  border-radius: 8px;
}

.nav-collapse.collapse {
  display: inline;
}

.panel-content {
  padding: 10px;
}

.panelBodyHeight {
  min-height: 80px;
}

a.logo {
  font-size: 22px;
  font-weight: 300;
  color: #fed189;
  float: left;
  margin-top: 15px;
  text-transform: uppercase;
}

a.logo:hover, a.logo:focus {
  text-decoration: none;
  outline: none;
}

a.logo span {
  color: #688a7e;
}

/*notification*/

#top_menu .nav>li, ul.top-menu>li {
  float: left;
}

.search-row {
  float: left;
  margin-top: 15px;
  margin-left: 16px;
}

.notification-row {
  float: right;
  margin-top: 15px;
  margin-left: 65px;
}

#task_notificatoin_bar, #mail_notificatoin_bar, #alert_notificatoin_bar {
  margin-top: 7px;
}

ul.top-menu>li>a {
  color: #fed189;
  font-size: 18px;
  padding: 2px 6px;
  margin-right: 15px;
}

ul.top-menu>li>a:hover, ul.top-menu>li>a:focus {
  background: transparent !important;
  color: #d7d7d7 !important;
}

.notification-row .badge {
  position: absolute;
  right: -4px;
  top: 0px;
  z-index: 100;
  border-radius: 9px;
  min-width: 18px;
  height: 18px;
  text-align: center;
  padding: 3px 5px;
  background: #00a0df;
  font-weight: 400;
}

.badge {
  border-radius: 9px;
  min-width: 18px;
  height: 18px;
  text-align: center;
  padding: 3px 5px;
  background: #00a0df;
}

.dropdown-menu.extended {
  max-width: 300px !important;
  min-width: 160px !important;
  top: 42px;
  width: 235px !important;
  padding: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;
  border: none !important;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.navbar-form {
  padding: 0px;
  margin: 0 0 0 10px;
}

.navbar-form .form-control {
  width: 200px;
  height: 30px;
  background: white url("../img/icons/search-line-icon.png") no-repeat 3px;
  padding-left: 24px;
  margin-top: 1px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Safari and Chrome */
  .dropdown-menu.extended {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176) !important;
  }
}

/* bootstrape editor*/

#editor {
  max-height: 250px;
  height: 250px;
  background-color: white;
  border-collapse: separate;
  border: 1px solid rgb(204, 204, 204);
  padding: 4px;
  box-sizing: content-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  overflow: scroll;
  outline: none;
}

#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2, 2);
  -webkit-transform: scale(2, 2);
  -moz-transform: scale(2, 2);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu.extended li p {
  background-color: #f1f2f7;
  color: #666666;
  margin: 0;
  padding: 10px;
}

.dropdown-menu.extended li p.green {
  background-color: #4cd964;
  color: #fff;
}

.dropdown-menu.extended li p.red {
  background-color: #00a0df;
  color: #fff;
}

.dropdown-menu.extended li p.blue {
  background-color: #688a7e;
  color: #fff;
}

.dropdown-menu.extended li p.yellow {
  background-color: #fcb322;
  color: #fff;
}

.dropdown-menu.extended li a {
  border-bottom: 1px solid #ebebeb !important;
  font-size: 12px;
  list-style: none;
}

.dropdown-menu.extended li a {
  padding: 15px 10px !important;
  width: 100%;
  display: inline-block;
}

.dropdown-menu.extended li a:hover {
  background-color: #f7f8f9 !important;
  color: #2e2e2e;
  border-bottom: 1px solid #688a7e !important;
}

.dropdown-menu.tasks-bar .task-info .desc {
  font-size: 13px;
  font-weight: normal;
}

.dropdown-menu.tasks-bar .task-info .percent {
  display: inline-block;
  float: right;
  font-size: 13px;
  font-weight: 600;
  padding-left: 10px;
  margin-top: -4px;
}

.dropdown-menu.extended .progress {
  margin-bottom: 0 !important;
  height: 10px;
}

.dropdown-menu.inbox li a .photo img {
  border-radius: 2px 2px 2px 2px;
  float: left;
  height: 40px;
  margin-right: 4px;
  width: 40px;
}

.dropdown-menu.inbox li a .subject {
  display: block;
}

.dropdown-menu.inbox li a .subject .from {
  font-size: 12px;
  font-weight: 600;
}

.dropdown-menu.inbox li a .subject .time {
  font-size: 11px;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  right: 5px;
}

.dropdown-menu.inbox li a .message {
  display: block !important;
  font-size: 11px;
}

.top-nav {
  margin-top: 5px;
}

.top-nav ul.top-menu>li .dropdown-menu.logout {
  width: 200px !important;
}

.top-nav li.dropdown .dropdown-menu {
  float: right;
  right: 0;
  left: auto;
}

.dropdown-menu.extended.logout>li {
  float: left;
  text-align: left;
  width: 100%;
}

.dropdown-menu.extended.logout>li.eborder-top {
  border-top: 2px solid #688a7e !important;
}

.dropdown-menu.extended.logout>li:last-child {
  float: left;
  text-align: left;
  width: 100%;
  background: #688a7e;
}

.dropdown-menu.extended.logout>li:last-child>a, .dropdown-menu.extended.logout>li:last-child>a:hover {
  color: #fff;
  border-bottom: none !important;
  text-transform: uppercase;
  background-color: #004c4c !important;
}

.dropdown-menu.extended.logout>li:last-child>a:hover>i {
  color: #fff;
}

.dropdown-menu>li>a {
  color: #797979;
}

.dropdown-menu.extended.logout>li>a {
  border-bottom: 1px solid #ebebeb !important;
  font-size: 14px;
  list-style: none;
  padding: 15px 10px !important;
  width: 100%;
  display: inline-block;
}

.dropdown-menu.extended.logout>li>a:hover {
  background-color: #f7f8f9 !important;
  color: #2e2e2e;
  border-bottom: 1px solid #688a7e !important;
}

.dropdown-menu.extended.logout>li>a:hover i {
  color: #688a7e;
}

.dropdown-menu.extended.logout>li>a i {
  font-size: 17px;
}

.dropdown-menu.extended.logout>li>a>i {
  display: inline-block;
  padding-right: 10px;
}

.top-nav .username {
  font-size: 13px;
  color: #bdbdbd;
}

.top-nav ul.top-menu>li {
  margin-left: 10px;
}

.top-nav ul.top-menu>li>a:hover, .top-nav ul.top-menu>li>a:focus {
  background: #f1f2f7;
}

.top-nav .dropdown-menu.extended.logout {
  top: 50px;
}

.top-nav .nav .caret {
  border-bottom-color: #a4aaba;
  border-top-color: #a4aaba;
}

.top-nav ul.top-menu>li>a:hover .caret {
  border-bottom-color: #7498f1;
  border-top-color: #7498f1;
}

.log-arrow-up {
  background: url("../img/arrow-up.png") no-repeat;
  width: 20px;
  height: 11px;
  position: absolute;
  right: 20px;
  top: -10px;
}

/*----*/

.page-header {
  margin: 12px 0 20px;
  border-bottom: none;
  opacity: 0.7;
  text-transform: uppercase;
}

.page-header i {
  color: #acb1b8;
  margin-right: 10px;
  float: left;
  font-size: 30px;
  line-height: 22px;
  opacity: 0.8;
}

.breadcrumb {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  height: 34px;
  position: relative;
  margin: 0 0 19px 0;
  overflow: hidden;
}

.breadcrumb li {
  position: relative;
  margin-right: 0;
}

.breadcrumb li i {
  font-size: 15px;
  margin-right: 5px;
}

.breadcrumb>.active {
  color: #d4d4d4;
}

/* .info-box

=================================================================== */

.info-box {
  min-height: 140px;
  margin-bottom: 30px;
  padding: 20px;
  color: white;
  -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
}

.info-box i {
  display: block;
  height: 100px;
  font-size: 60px;
  line-height: 100px;
  width: 100px;
  float: left;
  text-align: center;
  margin-right: 20px;
  padding-right: 20px;
  color: rgba(255, 255, 255, 0.75);
}

.info-box .count {
  margin-top: 20px;
  font-size: 34px;
  font-weight: 700;
}

.info-box .title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.info-box .desc {
  margin-top: 10px;
  font-size: 12px;
}

.info-box.danger {
  background: #ff5454;
  border: 1px solid #ff2121;
}

.info-box.warning {
  background: #fabb3d;
  border: 1px solid #f9aa0b;
}

.info-box.primary {
  background: #20a8d8;
  border: 1px solid #1985ac;
}

.info-box.info {
  background: #67c2ef;
  border: 1px solid #39afea;
}

.info-box.success {
  background: #79c447;
  border: 1px solid #61a434;
}

.fa-microphone:before {
  margin-left: 4px;
}

.fa-group:before, .fa-users:before {
  margin-left: -2px;
}

/*----------------	color------------------------*/

.dark-heading-bg {
  background: #4c4f53;
  border: 1px solid #4c4f53;
}

.main-bg {
  background: #e6e8ea;
}

.white-bg {
  color: #768399;
  background: #fff;
  background-color: #fff;
}

.red-bg {
  color: #fff;
  background: #d95043;
  background-color: #d95043;
}

.blue-bg {
  color: #fff;
  background: #57889c;
  background-color: #57889c;
}

.green-bg {
  color: #fff;
  background: #26c281;
  background-color: #26c281;
}

.greenLight-bg {
  color: #71843f;
  background: #71843f;
  background-color: #71843f;
}

.yellow-bg {
  color: #fff;
  background: #fc6;
  background-color: #fc6;
}

.orange-bg {
  color: #fff;
  background: #f4b162;
  background-color: #f4b162;
}

.purple-bg {
  color: #fff;
  background: #af91e1;
  background-color: #af91e1;
}

.pink-bg {
  color: #fff;
  background: #f78db8;
  background-color: #f78db8;
}

.lime-bg {
  color: #fff;
  background: #a8db43;
  background-color: #a8db43;
}

.magenta-bg {
  color: #fff;
  background: #e65097;
  background-color: #e65097;
}

.teal-bg {
  color: #fff;
  background: #97d3c5;
  background-color: #97d3c5;
}

.brown-bg {
  color: #fff;
  background: #d1b993;
  background-color: #d1b993;
}

.gray-bg {
  color: #768399;
  background: #e4e9eb;
  background-color: #e4e9eb;
}

.dark-bg {
  color: #fff;
  background-color: #4cb5f5;
}

.facebook-bg {
  color: #fff;
  background: #3b5998;
  background-color: #3b5998;
}

.twitter-bg {
  color: #fff;
  background: #00aced;
  background-color: #00aced;
}

.linkedin-bg {
  color: #fff;
  background: #4875b4;
  background-color: #4875b4;
}

/*----------------------	panel-----------------*/

.panel {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-bottom: 30px;
}

.panel .panel-heading {
  line-height: 34px;
  padding: 0 15px;
  min-height: 34px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.05);
}

.panel .panel-headingEnd {
  line-height: 34px;
  padding: 0 15px;
  min-height: 34px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.05);
}

.panel .panel-heading .panel-title {
  line-height: 40px;
}

.panel .panel-heading i {
  width: 30px;
  display: inline-block;
  font-size: 14px;
}

.panel .panel-headingEnd i {
  width: 30px;
  display: inline-block;
  font-size: 14px;
}

.panel .panel-heading ul li {
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

.panel .panel-heading h2 {
  height: 100%;
  width: auto;
  display: inline-block;
  font-size: 14px;
  position: relative;
  margin: 0;
  line-height: 34px;
  font-weight: 400;
  letter-spacing: 0;
}

.panel .panel-heading .panel-actions {
  float: right;
  margin-right: -15px;
  height: 40px;
  font-size: 0;
}

.panel .panel-heading .panel-actions i {
  display: inline-block;
  text-align: center;
  width: 34px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  font-size: 14px;
}

.panel .panel-heading .panel-actions a {
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  line-height: 32px;
  padding: 0;
  margin: 0;
  color: #333;
  border-left: 1px solid rgba(0, 0, 0, 0.09);
}

.panel-actions .btn-setting:hover, .panel-actions .btn-minimize:hover, .panel-actions .btn-close:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.panel .panel-heading .switch {
  margin: 10px;
}

.panel .panel-body-map {
  border-width: 1px 1px 2px;
  border-style: solid;
  background: #eef3f7;
  height: 380px;
  border-top: none;
  border-right-color: #ccc !important;
  border-bottom-color: #ccc !important;
  border-left-color: #ccc !important;
}

.panel .panel-body.no-padding {
  padding: 0;
}

.panel .panel-body.padding-horizontal {
  padding: 0 15px;
}

.panel .panel-body.no-padding-bottom {
  padding-bottom: 0;
}

.panel-footer {
  padding: 10px 15px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.panel-headerBatch {
  padding: 10px 15px;
  min-height: 50px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.panel .panel-footer {
  color: #000;
  border-width: 0 1px 2px 1px;
  border-top: none;
}

.panel.panel-default.cardList {
  border-radius: 5px;
  border: 1px solid black;
}

.panel.panel-default.cardListSelected {
  position: relative;
  border-radius: 5px;
  border: 1px solid #9c6;
}

.cardListSelected .selectCheck {
  background: url("../img/checked-symbol.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 0%;
  left: 2%;
  padding: 18px;
  opacity: 1 !important;
}

.cardList .testFLowCard {
  background: url("../img/phone-call.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 1%;
  left: 8%;
  padding: 18px;
  opacity: 1 !important;
}

.phoneIcon {
  background: url("../img/phone-call.png");
  background-repeat: no-repeat;
  padding: 18px;
  float: right;
}

.panel.panel-default.contentListMenu {
  border-radius: 5px;
  border: 1px;
}

.panel.panel-default.contentListQuestion {
  border-radius: 3px;
  border: 1px;
}

.panel.panel-default.panel-heading {
  background: #97d3c5;
}

contentListMenuHeader {
  background-color: #373737;
  color: #fff;
  border-color: #373737;
  border-style: solid;
  border-bottom-width: 1px;
}

.panel.panel-default .panel-footer.cardList {
  background: #00C7C6;
}

.panel.panel-default .panel-footer.cardListSelected {
  background: #9c6;
}

.panel.panel-default .panel-headerBatch.cardList {
  background: #00C7C6;
}

.panel.panel-default .panel-body.contentListMenu {
  background: #c0b283;
}

.panel.panel-default .panel-body.contentListQuestion {
  background: #dcc7aa;
}

/*search*/

.search {
  margin-top: 6px;
  width: 20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid #fff;
  box-shadow: none;
  background: url("../img/search-icon.jpg") no-repeat 10px 8px;
  padding: 0 5px 0 35px;
  color: #fff;
}

.search:focus {
  margin-top: 5px;
  width: 180px;
  border: 1px solid #eaeaea;
  box-shadow: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #c8c8c8;
  font-weight: 300;
}

.taineesBox {
  border-style: solid;
  border-width: 1px;
  border-color: skyblue;
  min-height: 175px;
}

/*--sidebar toggle---*/

.toggle-nav {
  float: left;
  padding-right: 15px;
  margin-top: 20px;
}

.toggle-nav .icon-reorder {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
}

.sidebar-closed>#sidebar>ul {
  display: none;
}

.sidebar-closed #main-content {
  margin-left: 0px;
}

.sidebar-closed #sidebar {
  margin-left: -180px;
}

/*state overview*/

.state-overview .symbol, .state-overview .value {
  display: inline-block;
  text-align: center;
}

.state-overview .value {
  float: right;
}

.state-overview .value h1 {
  margin: 0;
  padding: 0;
  color: #688a7e;
}

.state-overview .value p {
  margin: 0;
  padding: 0;
  color: #fed189;
}

.state-overview .value h1 {
  font-weight: 300;
  font-weight: 30px;
}

.state-overview .symbol i {
  color: #688a7e;
  font-size: 30px;
}

.state-overview .symbol {
  width: 30%;
  padding: 25px 15px;
}

.state-overview .value {
  width: 68%;
  padding-top: 21px;
}

.state-overview .terques {
  background: #34aadc;
}

.state-overview .red {
  background: #00a0df;
}

.state-overview .yellow {
  background: #fcb322;
}

.state-overview .blue {
  background: #688a7e;
}

/**/

.state .panel-body {
  padding: 0px;
}

.panel-body.chart-texture {
  background: url("../img/chart-texture.jpg");
  -webkit-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
  padding: 0px;
}

/*personal task*/

.task-thumb {
  width: 90px;
  float: left;
}

.task-thumb img {
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.task-thumb-details {
  display: inline-block;
  margin: 25px 0 0 10px;
}

.task-progress {
  float: left;
}

.task-thumb-details h1, .task-thumb-details h1 a, .task-progress h1, .task-progress h1 a {
  color: #688a7e;
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.task-thumb-details p, .task-progress p {
  padding-top: 5px;
  color: #fed189;
}

.personal-task tbody tr td {
  padding: 11px 15px;
  border-color: #eeeff1;
}

.personal-task tbody tr td i {
  font-size: 16px;
  color: #c7cbd4;
  position: relative;
  right: 6px;
  top: 6px;
}

.personal-task.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background-color: #f7f8fc;
}

.personal-task.table-hover>tbody>tr:hover>td i {
  color: #688a7e;
}

.personal-task>tbody>tr>td:last-child {
  text-align: right;
}

.task-option {
  float: right;
}

.task-option select {
  height: 35px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 8px;
  color: #a4abbb;
}

.progress-panel {
  padding-bottom: 5px;
}

/*badge*/

.badge.bg-primary {
  background: #688a7e;
}

.badge.bg-success {
  background: #4cd964;
}

.badge.bg-warning {
  background: #fcb322;
}

.badge.bg-important {
  background: #00a0df;
  font-family: "Proxima Nova", sans-serif;
  font-size: 11px;
}

.badge.bg-info {
  background: #34aadc;
}

.badge.bg-inverse {
  background: #797979;
}

/*---revenue----*/

.revenue-head {
  background: #688a7e;
  color: #fff;
  line-height: 50px;
  text-align: center;
}

.revenue-head span {
  /*background: rgba(0,0,0,0.1);*/
  text-align: left;
  line-height: normal;
  padding: 16px;
  font-weight: 300;
}

.revenue-head span i {
  font-size: 18px;
}

.revenue-head h3 {
  display: inline;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 400;
}

.revenue-head span.rev-combo {
  /*background: rgba(0,0,0,0.1);*/
  text-align: right;
  padding: 16px;
  line-height: normal;
  font-weight: 300;
}

/*easy pie chart*/

.easy-pie-chart {
  display: inline-block;
  padding: 30px 0;
}

.chart-info, .chart-info .increase, .chart-info .decrease {
  display: inline-block;
}

.chart-info {
  width: 100%;
  margin-bottom: 5px;
}

.chart-position {
  margin-top: 70px;
}

.chart-info span {
  margin: 0 3px;
}

.chart-info .increase {
  background: #688a7e;
  width: 10px;
  height: 10px;
}

.chart-info .decrease {
  background: #f2f2f2;
  width: 10px;
  height: 10px;
}

.panel-footer.revenue-foot {
  background-color: #e6e7ec;
  -webkit-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
  border: none;
  padding: 0;
  width: 100%;
  display: inline-block;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Safari and Chrome */
  .panel-footer.revenue-foot {
    margin-bottom: -4px;
  }
}

.panel-footer.revenue-foot ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-flex;
}

.panel-footer.revenue-foot ul li {
  float: left;
  width: 33.33%;
}

.panel-footer.revenue-foot ul li.first a:hover, .panel-footer.revenue-foot ul li.first a {
  -webkit-border-radius: 0px 0px 0px 4px;
  border-radius: 0px 0px 0px 4px;
}

.panel-footer.revenue-foot ul li.last a:hover, .panel-footer.revenue-foot ul li.last a {
  -webkit-border-radius: 0px 0px 4px 0px;
  border-radius: 0px 0px 4px 0px;
  border-right: none;
}

.panel-footer.revenue-foot ul li a {
  display: inline-block;
  width: 100%;
  padding: 14px 15px;
  text-align: center;
  border-right: 1px solid #d5d8df;
  color: #797979;
}

.panel-footer.revenue-foot ul li a:hover, .panel-footer.revenue-foot ul li.active a {
  background: #fff;
  position: relative;
}

.panel-footer.revenue-foot ul li a i {
  color: #c6cad5;
  display: block;
  font-size: 16px;
}

.panel-footer.revenue-foot ul li a:hover i, .panel-footer.revenue-foot ul li.active a i {
  color: #688a7e;
  display: block;
  font-size: 16px;
}

/*Creative carousel model*/

.flat-carousal {
  background: #00a0df;
  padding: 10px;
  color: #fff;
  position: relative;
}

.flat-carousal h1 {
  text-align: center;
  font-size: 16px;
  margin: 30px 20px;
  line-height: 20px;
  font-weight: 300;
  font-style: italic;
}

a.view-all {
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  padding: 8px 15px;
  text-align: center;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  margin-bottom: 18px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
}

ul.ft-link {
  margin: 0;
  padding: 0;
}

ul.ft-link li {
  border-right: 1px solid #e6e7ec;
  display: inline-block;
  line-height: 30px;
  margin: 8px 0;
  text-align: center;
  width: 24%;
}

ul.ft-link li a {
  color: #74829c;
  text-transform: uppercase;
  font-size: 12px;
}

ul.ft-link li a:hover, ul.ft-link li.active a {
  color: #00a0df;
}

ul.ft-link li:last-child {
  border-right: none;
}

ul.ft-link li a i {
  display: block;
}

#owl-slider .item img {
  display: block;
  width: 100%;
  height: auto;
}

.owl-buttons {
  position: absolute;
  top: 70px;
  width: 100%;
}

.owl-prev, .owl-next {
  position: absolute;
}

.owl-next {
  right: 0;
}

.owl-buttons .owl-prev {
  text-indent: -9999px;
  background: url("../img/left-arrow.png") no-repeat;
  width: 6px;
  height: 10px;
  display: inline-block;
}

.owl-buttons .owl-next {
  text-indent: -9999px;
  background: url("../img/right-arrow.png") no-repeat;
  width: 6px;
  height: 10px;
  display: inline-block;
}

/*product post*/

.post-wrap aside {
  display: table-cell;
  float: none;
  height: 100%;
  padding: 0;
  vertical-align: top;
}

.pro-box {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.post-info {
  position: relative;
}

.arrow-pro.right:after {
  border-left-color: #ffffff;
  border-right-width: 0;
  top: 85px;
  content: " ";
}

.arrow-pro.left:after {
  border-right-color: #ffffff;
  border-left-width: 0;
  top: 80px;
  content: " ";
}

.arrow-pro.left {
  left: -8px;
}

.arrow-pro:after {
  border-width: 7px;
  content: "";
}

.arrow-pro, .arrow-pro:after {
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  display: block;
  height: 0;
  position: absolute;
  width: 0;
  right: -5px;
}

.post-highlight.yellow {
  background: #fcb322;
}

.post-highlight.terques {
  background: #688a7e;
}

.post-info h1 {
  margin: 0;
  font-size: 18px;
  color: #a19899;
  font-weight: 300;
}

.post-highlight.terques h2 {
  font-size: 16px;
  color: #fff;
  font-style: italic;
  padding: 0 20px;
  line-height: 22px;
  margin: 0;
  font-weight: 300;
}

.post-highlight.terques h2 span, .post-highlight.terques h2 a {
  color: #92faf3;
}

.post-info h1 strong {
  text-transform: uppercase;
  color: #937b7b;
}

.post-info .desk {
  display: inline-block;
}

.post-info .desk h3 {
  font-size: 16px;
}

.post-info .desk.yellow h3 {
  color: #fcb322;
}

.post-btn {}

.post-btn a {
  float: left;
  margin-right: 8px;
  font-size: 18px;
  color: #9a9a9a;
}

.post-btn a:hover {
  color: #727272;
}

.pro-thumb {
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 10px solid rgba(256, 256, 256, 0.4);
}

.pro-thumb img {
  text-align: center;
  width: 112px;
  height: 112px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.v-align {
  vertical-align: middle !important;
}

.twite h1 {
  margin: 50px 0;
}

.social-footer {
  display: inline;
  text-align: center;
}

.social-footer ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

.social-footer ul li {
  display: inline-block;
  margin: 0 20px;
}

.social-footer ul li a {
  font-size: 25px;
  color: #ceced0;
}

.social-footer ul li a:hover i.icon-facebook, .social-footer ul li.active a i.icon-facebook {
  color: #486eac;
}

.social-footer ul li a:hover i.icon-twitter, .social-footer ul li.active a i.icon-twitter {
  color: #00a0df;
}

.social-footer ul li a:hover i.icon-google-plus, .social-footer ul li.active a i.icon-google-plus {
  color: #4a4a4a;
}

.social-footer ul li a:hover i.icon-pinterest, .social-footer ul li.active a i.icon-pinterest {
  color: #d1282d;
}

/*pie chart */

.pie-foot {
  background: #6b6b6b;
  padding: 18px 15px;
  color: #fff;
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}

.profile-widget .twt-category {
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 10px;
  width: 100%;
  padding: 0px;
}

.profile-widget .twt-category ul li {
  color: #ffffff;
}

.knob-charts {
  margin-top: 10px;
}

.follow-task {
  padding: 5px;
}

.follow-task a {
  color: #ffffff;
  width: 15%;
  display: inline-block;
}

.follow-task a span.badge {
  top: -12px;
  position: relative;
  left: -8px;
  background: #ffffff;
  color: #34aadc;
}

.follow-task i {
  font-size: 20px;
}

.profile-widget-foot {
  padding: 8px 5px 5px 5px;
  background: rgba(0, 0, 0, 0.1);
  color: #757575;
  font-weight: 300;
}

.profile-foot {
  padding: 8px 5px 5px 5px;
  background: rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-weight: 300;
  overflow: hidden;
}

.profile-foot .active {}

.profile-foot a {
  color: #ffffff;
}

.profile-widget-foot ul {
  padding: 0;
  margin: 0;
}

.profile-widget-foot ul li {
  display: inline-block;
  text-align: center;
  width: 48%;
  line-height: normal;
}

.profile-widget-foot ul li h5 {
  margin: 5px 0 0 0;
}

.follow-info {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 10px;
}

.profile-widget h4 {
  margin: 5px;
  font-size: 18px;
  font-weight: 300;
}

.profile-widget h6 {
  margin: 0px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
}

.profile-widget h6 span i {
  padding-right: 4px;
}

.profile-widget h6 span {
  padding-right: 8px;
}

.project-team, .panel-title, .progress-panel {
  background: #f7f7f7;
}

.profile-ava img {
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 2px solid #688a7e;
  display: inline-block;
}

.profile-ava img.simple {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 2px solid rgba(0, 112, 255, 0.4);
  display: inline-block;
}

.profile-name {
  margin: 0px;
  font-size: 16px;
}

.profile-occupation {
  margin: 0px;
  font-size: 12px;
}

.follow-ava {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.timeline-ava {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 5px solid #688a7e;
  display: inline-block;
}

.timeline-ava img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 50px;
  height: 50px;
}

.profile-widget img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 62px;
  height: 62px;
  /*display: inline-block;*/
}

/* .social-box

=================================================================== */

.social-box {
  min-height: 158px;
  background: white;
  margin-bottom: 30px;
  text-align: center;
}

.social-box i {
  display: block;
  font-size: 40px;
  line-height: 90px;
  background: #f5f5f5;
}

.social-box ul {
  list-style: none;
  padding: 10px 0;
}

.social-box ul li {
  display: block;
  width: 50%;
  float: left;
}

.social-box ul li:first-child {
  border-right: 1px solid #f5f5f5;
}

.social-box ul li strong {
  display: block;
  font-size: 20px;
}

.social-box ul li span {
  color: #d4d4d4;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 10px;
}

.social-box.facebook i {
  background: #3b5998;
  color: white;
  margin: -1px -1px 1px -1px;
}

.social-box.twitter i {
  background: #00aced;
  color: white;
  margin: -1px -1px 1px -1px;
}

.social-box.linkedin i {
  background: #4875b4;
  color: white;
  margin: -1px -1px 1px -1px;
}

.social-box.google-plus i {
  background: #d34836;
  color: white;
  margin: -1px -1px 1px -1px;
}

/*weather*/

.weather-bg {
  background: #34aadc;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}

.weather-bg i {
  font-size: 60px;
  display: block;
}

.weather-bg h3 {
  font-weight: 300;
  font-size: 28px;
}

.weather-bg .degree {
  padding-top: 10px;
  font-size: 60px;
}

.weather-category {
  padding: 15px 0;
  color: #ffffff;
}

.weather-info {
  background: #34aadc;
}

.weather-category ul {
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 100%;
}

.weather-category ul {
  display: inline-block;
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  display: inline-block;
}

.weather-category ul li {
  display: inline-block;
  width: 70%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  display: inline-block;
}

.weather-category ul li i {
  margin-bottom: 10px;
}

.weather-category ul li h4 {
  margin: 10px 0 0 0;
  text-transform: uppercase;
  font-weight: 300;
}

.weather-days {
  color: #ffffff;
  background: #34aadc;
}

.weather-days ul {
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 100%;
}

.weather-days ul li {
  display: inline-block;
  width: 16.6%;
  text-align: center;
  display: inline-block;
  margin-right: -2.9px;
  padding: 5px 0px;
}

.weather-days ul li.day1 {
  background: rgba(0, 0, 0, 0.05);
}

.weather-days ul li.day2 {
  background: rgba(0, 0, 0, 0.1);
}

.weather-days ul li.day3 {
  background: rgba(0, 0, 0, 0.15);
}

.weather-days ul li.day4 {
  background: rgba(0, 0, 0, 0.2);
}

.weather-days ul li.day5 {
  background: rgba(0, 0, 0, 0.25);
}

.weather-days ul li.day6 {
  background: rgba(0, 0, 0, 0.3);
}

.weather-days ul li h5 {
  margin: 0 0 5px 0;
  text-transform: uppercase;
  font-weight: 300;
}

.weather-category ul li a {}

.weather-category ul li:last-child, .weather-days ul li:last-child {
  border-right: none;
}

/*weather widget 2*/

.weather-bg-img {
  background: url(../img/backgrounds/bg-14-small.jpg) no-repeat center center;
  color: #fff;
  text-shadow: 0px 1px 5px #fed189;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}

.weather-bg-img i {
  font-size: 60px;
  text-shadow: 0px 1px 5px #fed189;
  display: block;
}

.weather-bg-img h3 {
  font-weight: 300;
  font-size: 28px;
}

.weather-bg-img .degree {
  padding-top: 10px;
  font-size: 60px;
}

.weather-bg-img .weather-category {
  padding: 15px 0;
  color: #ffffff;
  text-shadow: 0px 1px 5px #fed189;
  background: transparent;
}

.weather-bg-img .weather-category ul {
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 100%;
}

.weather-bg-img .weather-category ul li {
  display: inline-block;
  width: 32%;
  text-align: center;
  border-right: 1px solid #e6e6e6;
  display: inline-block;
}

.weather-bg-img .weather-category ul li h5 {
  margin: 0 0 5px 0;
  text-transform: uppercase;
  font-weight: 300;
  text-shadow: 0px 1px 5px #fed189;
}

.weather-bg-img .panel-body, footer.weather-bg-img ul {
  background: rgba(0, 0, 0, 0.5);
}

.weather-days-img {
  color: #ffffff;
  text-shadow: 0px 1px 5px #fed189;
}

.weather-days-img {
  background: transparent !important;
}

/*fontawesome*/

.fontawesome-icon-list h2 {
  margin-top: 0;
  font-size: 20px;
  font-weight: 300;
}

.fontawesome-icon-list .col-sm-3 {
  margin-bottom: 10px;
}

.fontawesome-icon-list .page-header {
  border-bottom: 1px solid #c9cdd7;
}

.fontawesome-icon-list i {
  font-size: 16px;
  padding-right: 10px;
}

#web-application, #text-editor, #directional, #video-player, #brand, #medical, #currency {
  margin-top: 10px;
}

/*mail inbox*/

.inbox-wrapper {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.inbox-wrapper aside {
  display: table-cell;
  float: none;
  height: 100%;
  padding: 0;
  vertical-align: top;
}

.inbox-wrapper .inbox-left {
  width: 20%;
  background: #e5e8ef;
}

.inbox-wrapper .inbox-middle {
  width: 25%;
  background: #fff;
}

.inbox-wrapper .inbox-right {
  width: 65%;
  background: #f5f5f5;
}

.inbox-wrapper .inbox-left .inbox-left-menu {
  background: #688a7e;
}

.table-inbox .icon_star_alt:hover, .starred {
  color: #fcb322;
}

.inbox-wrapper .inbox-left .user-head {
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  color: #fff;
  min-height: 80px;
}

.inbox-wrapper .inbox-middle .inbox-mail {
  background: #688a7e;
  padding: 10px;
  color: #fff;
  min-height: 80px;
}

.user-head .inbox-avatar {
  width: 65px;
  float: left;
}

.user-head .inbox-avatar img {
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.user-head .user-name {
  display: inline-block;
  margin: 0 0 0 10px;
}

.user-head .user-name h5 {
  font-size: 14px;
  margin-top: -15px;
  margin-bottom: 0;
  font-weight: 300;
}

.user-head .user-name h5 a {
  color: #fff;
}

.user-head .user-name span a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.9);
}

a.mail-dropdown {
  background: #80d3d9;
  padding: 3px 5px;
  font-size: 10px;
  color: #01a7b3;
  border-radius: 2px;
  margin-top: 20px;
}

.inbox-body {
  padding: 20px;
}

.btn-compose {
  background: #00a0df;
  padding: 12px 0;
  text-align: center;
  width: 100%;
  color: #fff;
}

.btn-compose:hover {
  background: #f5675c;
  color: #fff;
}

ul.mail-nav {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.mail-divider {
  border-bottom: 1px solid #d5d8df;
}

ul.mail-nav li {
  display: inline-block;
  line-height: 20px;
  padding: 10px;
  width: 100%;
  border-right: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}

ul.mail-nav li a {
  color: #6a6a6a;
  width: 100%;
  display: inline-block;
  padding: 0 20px;
}

ul.mail-nav .mail-info {
  padding: 5px;
  font-size: 14px;
}

ul.mail-nav p {
  font-size: 12px;
}

ul.mail-nav li:hover, ul.mail-nav li.active, ul.mail-nav li:focus {
  color: #6a6a6a;
  background: #f5f5f5;
  border-bottom: 1px solid #688a7e;
  border-right: none;
}

ul.mail-nav li a i {
  padding-right: 10px;
  font-size: 16px;
  color: #6a6a6a;
}

ul.mail-nav li a span.label {
  margin-top: 13px;
}

ul.inbox-nav {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.inbox-divider {
  border-bottom: 1px solid #d5d8df;
}

ul.inbox-nav li {
  display: inline-block;
  line-height: 45px;
  width: 100%;
}

ul.inbox-nav li a {
  color: #6a6a6a;
  line-height: 45px;
  width: 100%;
  display: inline-block;
  padding: 0 20px;
}

ul.inbox-nav li a:hover, ul.inbox-nav li.active a, ul.inbox-nav li a:focus {
  color: #6a6a6a;
  background: #d5d7de;
}

ul.inbox-nav li a i {
  padding-right: 10px;
  font-size: 16px;
  color: #6a6a6a;
}

ul.inbox-nav li a span.label {
  margin-top: 13px;
}

ul.labels-info li h4 {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  color: #5c5c5e;
  font-size: 13px;
  text-transform: uppercase;
}

ul.labels-info li {
  margin: 0;
}

ul.labels-info li a {
  color: #6a6a6a;
  border-radius: 0;
}

ul.labels-info li a:hover, ul.labels-info li a:focus {
  color: #6a6a6a;
  background: #d5d7de;
}

ul.labels-info li a i {
  padding-right: 10px;
}

.nav.nav-pills.nav-stacked.labels-info p {
  margin-bottom: 0;
  padding: 0 22px;
  color: #9d9f9e;
  font-size: 11px;
}

.inbox-head {
  padding: 10px;
  background: #688a7e;
  color: #fff;
  border-bottom: 1px solid #d7d7d7;
  min-height: 80px;
}

.inbox-head h3 {
  margin: 0;
  display: inline-block;
  padding-top: 6px;
  font-weight: 300;
}

.inbox-head .sr-input {
  height: 40px;
  border: none;
  box-shadow: none;
  padding: 0 10px;
  float: left;
  border-radius: 4px 0 0 4px;
  color: #8a8a8a;
}

.inbox-head .sr-btn {
  height: 40px;
  border: none;
  background: #00a6b2;
  color: #fff;
  padding: 0 20px;
  border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
}

.table-inbox {
  border: 1px solid #d3d3d3;
  margin-bottom: 0;
}

.table-inbox tr td {
  padding: 12px !important;
}

.table-inbox tr td:hover {
  cursor: pointer;
}

.table-inbox tr td .icon-star.inbox-started, .table-inbox tr td .icon-star:hover {
  color: #f78a09;
}

.table-inbox tr td .icon-star {
  color: #d5d5d5;
}

.table-inbox tr.unread td {
  font-weight: 600;
  background: #f7f7f7;
}

ul.inbox-pagination {
  float: right;
}

ul.inbox-pagination li {
  float: left;
}

.mail-option {
  display: inline-block;
  margin-bottom: 0px;
  width: 100%;
  margin-top: 18px;
}

.open-mail-action i {
  padding-right: 5px;
  font-size: 14px;
}

.inbox-mail .navbar-form {
  margin-top: 15px;
}

.mail-option .chk-all, .mail-option .btn-group {
  margin-right: 5px;
}

.mail-option .chk-all, .mail-option .btn-group a.btn {
  border: 1px solid #e7e7e7;
  padding: 5px 10px;
  display: inline-block;
  background: #ffffff;
  color: #688a7e;
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
}

.inbox-pagination a.np-btn {
  border: 1px solid #e7e7e7;
  padding: 5px 15px;
  display: inline-block;
  background: #fcfcfc;
  color: #afafaf;
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
}

.mail-option .chk-all input[type="checkbox"] {
  margin-top: 0;
}

.mail-option .btn-group a.all {
  padding: 0;
  border: none;
}

.inbox-pagination a.np-btn {
  margin-left: 5px;
}

.inbox-pagination li span {
  display: inline-block;
  margin-top: 7px;
  margin-right: 5px;
}

.fileinput-button {
  border: 1px solid #e6e6e6;
  background: #eeeeee;
}

.inbox-body .modal .modal-body input, .inbox-body .modal .modal-body textarea {
  border: 1px solid #e6e6e6;
  box-shadow: none;
}

.btn-send, .btn-send:hover {
  background: #00a8b3;
  color: #fff;
}

.btn-send:hover {
  background: #009da7;
}

.modal-header h4.modal-title {
  font-weight: 300;
  font-family: "Proxima Nova", sans-serif;
}

.modal-body label {
  font-weight: 400;
}

.panel-heading, .modal-header {
  background: #fff;
  color: #688a7e;
}

.panel-heading h3 {
  margin: 0px !important;
}

.panel-primary>.panel-heading.navyblue {
  background-color: #2a3542;
  border-color: #2a3542;
  color: #ffffff;
}

/*table*/

.table-advance tr td {
  vertical-align: middle !important;
}

.no-border {
  border-bottom: none;
}

.dataTables_length, .dataTables_filter {
  padding: 15px;
}

.dataTables_info {
  padding: 0 15px;
}

.dataTables_filter {
  float: right;
}

.dataTables_length select {
  width: 65px;
  padding: 5px 8px;
}

.dataTables_length label, .dataTables_filter label {
  font-weight: 300;
}

.dataTables_filter label {
  width: 100%;
}

.dataTables_filter label input {
  width: 78%;
}

.border-top {
  border-top: 1px solid #ddd;
}

.dataTables_paginate.paging_bootstrap.pagination li {
  float: left;
  margin: 0 1px;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

.dataTables_paginate.paging_bootstrap.pagination li.disabled a {
  color: #c7c7c7;
}

.dataTables_paginate.paging_bootstrap.pagination li a {
  color: #797979;
  padding: 5px 10px;
  display: inline-block;
}

.dataTables_paginate.paging_bootstrap.pagination li:hover a, .dataTables_paginate.paging_bootstrap.pagination li.active a {
  color: #797979;
  background: #eee;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

.dataTables_paginate.paging_bootstrap.pagination {
  float: right;
  margin-right: 15px;
  margin-top: -5px;
  margin-bottom: 15px;
}

.dataTable tr:last-child {
  border-bottom: 1px solid #ddd;
}

/*button*/

.btn-row {
  margin-bottom: 10px;
}

.game {
  padding: 15px;
  border-left: 6px solid #7f7f84;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
}

.cardOverflow {
  height: 300px;
  overflow-y: scroll;
}

.game-lg {
  /* padding: 35px; */
  font-size: large;
}

.game-header {
  border-color: #6E2C00;
  background-color: #F6DDCC;
}

.game-completed {
  border-color: #186A3B;
  background-color: #D5F5E3;
}

.game-started {
  border-color: #7D6608;
  background-color: #FCF3CF;
}

.game-active {
  border-color: #154360;
  background-color: #D4E6F1;
}

.game-subheader {
  border-color: #34495E;
  background-color: #D6DBDF;
}

/*tabs*/

.tab-head {
  background: #688a7e;
  display: inline-block;
  width: 100%;
  margin-top: 60px;
}

.tab-container {
  margin-top: 10px;
}

.tab-head .nav-tabs>li>a {
  border-radius: 0;
  margin-right: 1px;
  color: #fff;
}

.tab-head .nav-tabs>li.active>a, .tab-head .nav-tabs>li>a:hover, .tab-head .nav-tabs>li.active>a:hover, .tab-head .nav-tabs>li.active>a:focus {
  background-color: #f1f2f7;
  border-color: #f1f2f7;
  color: #797979;
}

/*general page*/

.progress-xs {
  height: 8px;
}

.progress-sm {
  height: 12px;
}

.panel-heading .nav {
  border: medium none;
  font-size: 13px;
  margin: -10px -15px -11px;
}

.tab-bg-primary {
  background: #688a7e;
  border-bottom: none;
}

.tab-bg-info {
  background: #324c57;
  border-bottom: none;
}

.tab-bg-info.panel-heading .nav>li.active>a, .tab-bg-info.panel-heading .nav>li>a:hover {
  color: #36464d;
}

.tab-bg-info.panel-heading .nav {
  margin: -10px 15px -11px;
}

.btn-circle.btn-xl {
  width: 100px;
  height: 100px;
  padding: 16px 20px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 100px;
}

#detail, #editcontentFull, #createTrainingForm, #addMoreStep, #edit {
  display: none;
}

.searchIcon {
  color: grey;
  margin-left: -30%;
  margin-top: 5%;
}

.createTopicLeft {
  float: right;
  margin-bottom: 1%;
  margin-top: 5%;
  margin-right: 1.5%;
  background-color: #b3c100;
  border-color: #99cc66;
  color: #fff;
}

.createTopicLeftDefault {
  float: left;
  margin-bottom: 1%;
  margin-top: 5%;
  margin-right: 1.5%;
  color: #000;
}

.center {
  text-align: center;
}

.addInitialContent {}

.topicBoxRound {
  margin-top: 4%;
  width: 80px;
  border-color: #39B684;
  border-width: 3px;
  border-style: solid;
  text-align: center;
  height: 80px;
  border-radius: 50%;
  float: left;
}

.topicBoxText {
  color: #99cc66;
}

.topicBoxArrow {
  margin-top: 4%;
  color: #39B684;
  font-size: 6em;
  margin-left: 35px;
}

.questionBoxArrow {
  margin-top: 30%;
  color: #99cc66;
  font-size: 5em;
  margin-left: -15px;
}

.textBoxMessage {
  border-style: solid;
  border-width: 1px;
  border-color: #9c6;
  min-height: 160px;
  text-align: center;
}

.textBoxMessageSmall {
  border-style: solid;
  margin-top: 3.5%;
  border-radius: 8px;
  border-width: 1px;
  border-color: #9c6;
  min-height: 100px;
  text-align: center;
}

.textBoxMessageSmallLearning {
  border-style: solid;
  border-right: transparent;
  border-bottom: transparent;
  border-top: transparent;
  border-width: 1px;
  border-color: #9c6;
  min-height: 165px;
}

.boxLeftBorder {
  border-style: solid;
  border-right: transparent;
  border-bottom: transparent;
  border-top: transparent;
  border-width: 2px;
  border-color: #9c6;
  color: #9c6;
}

.smallBox {
  border-style: solid;
  border-width: 1px;
  border-color: #9c6;
  border-radius: 5px;
  min-height: 40px;
}

.smallBox>h3 {
  margin-top: 12px;
}

.learningBoxMargin {
  margin-bottom: 60px;
  display: flow-root;
}

.textIconBox {
  color: #cdcdcd;
}

.textIconBox:hover, .textIconBox.active {
  color: #f78a09;
}

.hourMinDropdown {
  min-height: 50px;
  color: #9c6;
  border-color: #9c6;
}

.dashMarginTop {
  margin-top: 20px;
}

.textBoxMessagesmallLearningTopic {
  border-style: solid;
  margin-top: 3px;
  border-radius: 8px;
  border-width: 1px;
  border-color: #9c6 !important;
  max-height: 50px;
}

.textBoxMessageQuestionDetails {
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: #9c6;
  text-align: center;
  margin-top: -250px;
  margin-right: -5px;
  margin-left: 55px;
  height: 386px;
}

.formBottomBtn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
  padding: 0 15px;
}

.textBoxMessageQuestionOptionsDetails {
  background-color: #dcc7aa;
  height: 386px;
  border-radius: 5px;
  text-align: center;
  width: 90px;
  margin-right: 79px;
  margin-left: auto;
  margin-top: -101px;
}

.topicBoxRound {
  position: relative;
}

.lineConnect3 {
  background: #39B684;
  width: 5px;
  height: 350px;
  position: absolute;
  top: -350px;
  left: 34px;
}

.lineConnect4 {
  background: #39B684;
  width: 5px;
  height: 255px;
  position: absolute;
  top: -255px;
  left: 34px;
}

.lineConnect5 {
  background: #39B684;
  width: 5px;
  height: 334px;
  position: absolute;
  top: -340px;
  left: 34px;
}

.lineConnect6 {
  background: #39B684;
  width: 5px;
  height: 165px;
  position: absolute;
  top: -170px;
  left: 34px;
}

.answerBoxSquare {
  margin-top: 4%;
  color: #ff7744;
  width: 80px;
  border-color: #ff7744;
  border-width: 3px;
  border-style: solid;
  text-align: center;
  height: 80px;
  float: left;
}

.answerBoxSquare.active {
  margin-top: 4%;
  color: green;
  width: 80px;
  border-color: green;
  border-width: 3px;
  border-style: solid;
  text-align: center;
  height: 80px;
  float: left;
}

.menuActive, .menuIcons>i:hover {
  color: #ff7744;
}

.menuDefault {
  color: #dddddd;
}

.menuMargin {
  margin-left: 80px;
}

.panel.contentListMenu .panel-heading i {
  border: 0;
}

.panel.contentListQuestion .panel-heading i {
  border: 0;
}

.selectMenuSlickRepeat {
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  background: #dddddd;
  color: #333;
  font-size: 36px;
  margin-right: 5px;
  border-radius: 3px;
}

.selectMenuSlickOptions {
  color: red;
  margin-right: 5px;
  border-radius: 3px;
}

.selectMenuSlickOptions.active {
  color: green;
}

.selectMenuSlickRepeat:hover, .selectMenuSlickRepeat.active {
  border-color: #ff7744;
  background: #ff7744;
}

.selectMenuSlickAnswer {
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  background: #dddddd;
  color: #333;
  font-size: 36px;
  margin-right: 5px;
  border-radius: 3px;
}

.selectMenuSlickAnswer:hover, .selectMenuSlickAnswer.active {
  border-color: red;
  background: red;
}

.slick-prev.slick-arrow::before {
  background: url("../img/left-arrow.png");
  background-repeat: no-repeat;
  padding: 1px 10px;
  color: transparent;
}

.slick-next.slick-arrow::before {
  background: url("../img/right-arrow.png");
  background-repeat: no-repeat;
  padding: 1px 10px;
  color: transparent;
}

.slick-slider {
  width: 160px;
  padding-left: 8px;
  margin-left: 20px;
  margin-top: 5px;
}

.textBoxMessageQuestionOptionsDetails .slick-prev {
  top: -5px;
  left: 30%;
}

.textBoxMessageQuestionOptionsDetails .slick-next {
  left: 28%;
  top: inherit;
  bottom: -30px;
  right: inherit;
}

.textBoxMessageQuestionOptionsDetails .slick-slider {
  left: -29px;
}

.textBoxMessageQuestionOptionsDetails h5 {
  border-style: solid;
  border-width: inherit;
  border-color: #fff;
  background-color: #f8c471;
  /* height: 17px; */
  border-left-color: transparent;
  border-right-color: transparent;
  font-size: 22px;
  width: 90px;
}

.selectMenuSlickMainDivOptionList {
  margin-top: 2%;
}

.textBoxMessageQuestionOptionsDetails .slick-prev.slick-arrow::before {
  background: url("../img/up-arrow.png");
  background-repeat: no-repeat;
  padding: 1px 10px;
  color: transparent;
}

.textBoxMessageQuestionOptionsDetails .slick-next.slick-arrow::before {
  background: url("../img/down-arrow.png");
  background-repeat: no-repeat;
  padding: 1px 10px;
  color: transparent;
}

.selectMenuSlickLearningList.slick-slider {
  width: auto;
  padding-left: 0px;
  margin: 0px;
}

.textBoxMessagesmallLearningTopic .textBoxMessagesmallLearningTopic {
  display: block;
  height: auto;
  border-color: indigo;
}

.selectMenuSlick>h5 {
  margin: 6px 0;
}

.selectMenuSlickMainDivOptionFillList .slick-next {
  display: block;
  left: -11px;
  top: 180px;
}

.selectMenuSlickMainDivOptionFillList .slick-prev {
  display: block;
  top: 18px;
  left: -13px;
}

.selectMenuSlickMainDivOptionFillList .slick-prev.slick-arrow::before, .textBoxMessageSmallLearning .slick-prev.slick-arrow::before {
  background: url("../img/caret-arrow-up.png");
  background-repeat: no-repeat;
  padding: 1px 10px;
  color: transparent;
}

.selectMenuSlickMainDivOptionFillList .slick-next.slick-arrow::before, .textBoxMessageSmallLearning .slick-next.slick-arrow::before {
  background: url("../img/caret-down.png");
  background-repeat: no-repeat;
  padding: 1px 10px;
  color: transparent;
}

.textBoxMessageSmallLearning .slick-prev {
  top: 3px;
  left: 102%;
}

.textBoxMessageSmallLearning .slick-next {
  left: 102%;
  top: 166px;
  bottom: 0px;
}

.marginTop10px {
  margin-top: 10px;
}

.learningText {
  color: #000;
  margin-top: 3%;
}

.learningText:hover {
  color: #9c6;
}

.learningTextDetail {
  text-align: center;
  margin-top: -0.7%;
}

.nuggetSize {
  font-size: 28px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: #99cc66;
}

input:focus+.slider {
  box-shadow: 0 0 1px #99cc66;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.repeatBox {
  border-style: solid;
  border-width: 1px;
  color: blue;
  width: 100px;
  height: 70px;
  text-align: center;
  margin-left: 20%;
  margin-top: 15%;
}

.falseOption {
  color: red;
}

.trueOption {
  color: green;
}

.neutralOption {
  color: #fff;
}

.overFlow {
  height: 140px;
  overflow-y: auto;
}

.scrollBar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.scrollBar::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.scrollBar::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #555555;
}

.batchCard {
  text-align: center;
  margin-top: 30px;
  background-color: #cdc5c5;
  height: 260px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3%;
  border-color: #cdc5c5;
  position: relative;
  overflow: hidden;
}

.diagonalText {
  position: absolute;
  color: #fff;
  width: 150px;
  height: 20px;
  transform: rotate(-35deg);
  top: 25px;
  left: -36px;
}

.diagonalText.started {
  background-color: skyblue;
}

.diagonalText.notStarted {
  background-color: #000;
}

.diagonalText.onTrack {
  background-color: #9c6;
}

.diagonalText.behindSchedule {
  background-color: red;
}

.deleteIcon {
  float: right;
  margin: 2px;
  color: #000;
}

/* .deleteIcon:hover {
  -webkit-transform: rotate(10deg);
} */

.clickable {
  cursor: pointer;
}

.cardClick {
  cursor: default;
}

.bs-wizard {
  margin-top: 10px;
  pointer-events: none;
}

/*Form Wizard*/

.bs-wizard {
  border-bottom: solid 1px #e0e0e0;
  padding: 0 0 10px 0;
}

.bs-wizard>.bs-wizard-step {
  padding: 0;
  position: relative;
}

.bs-wizard>.bs-wizard-step+.bs-wizard-step {}

.bs-wizard>.bs-wizard-step .bs-wizard-stepnum {
  color: #595959;
  font-size: 16px;
  margin-bottom: 5px;
}

.bs-wizard>.bs-wizard-step .bs-wizard-info {
  color: #999;
  font-size: 14px;
}

.bs-wizard>.bs-wizard-step>.bs-wizard-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background: #fbe8aa;
  top: 23px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
}

.bs-wizard>.bs-wizard-step>.bs-wizard-dot:after {
  content: ' ';
  width: 14px;
  height: 14px;
  background: #fbbd19;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.bs-wizard>.bs-wizard-step>.progress {
  position: relative;
  border-radius: 0px;
  height: 8px;
  box-shadow: none;
  margin: 20px 0;
}

.bs-wizard>.bs-wizard-step>.progress>.progress-bar {
  width: 0px;
  box-shadow: none;
  background: #fbe8aa;
}

.bs-wizard>.bs-wizard-step.complete>.progress>.progress-bar {
  width: 100%;
}

.bs-wizard>.bs-wizard-step.active>.progress>.progress-bar {
  width: 50%;
}

.bs-wizard>.bs-wizard-step:first-child.active>.progress>.progress-bar {
  width: 0%;
}

.bs-wizard>.bs-wizard-step:last-child.active>.progress>.progress-bar {
  width: 100%;
}

.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot {
  background-color: #f5f5f5;
}

.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot:after {
  opacity: 0;
}

.bs-wizard>.bs-wizard-step:first-child>.progress {
  left: 50%;
  width: 50%;
}

.bs-wizard>.bs-wizard-step:last-child>.progress {
  width: 50%;
}

.bs-wizard>.bs-wizard-step.disabled a.bs-wizard-dot {
  pointer-events: none;
}

/*END Form Wizard*/